.vscode/**
.vscode-test/**
out/**
node_modules/**
releases/**
src/**
.gitignore
.yarnrc
esbuild.js
media/marketplace-source.svg
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*

.github/**
marketing/**
scripts/**
docs/**
